<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 🔐 PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:label="VELOX"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true">

        <!-- GOOGLE MAP API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAiZEpiF_zu6RDeg8yFF8ydOUiHiXQA4DA"/>

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

    </application>

    <!-- 🔥 IMPORTANT: PAYMENT APPS VISIBILITY (Android 11+) -->
    <queries>

        <!-- PhonePe -->
        <package android:name="com.phonepe.app"/>

        <!-- Google Pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user"/>

        <!-- Paytm -->
        <package android:name="net.one97.paytm"/>

        <!-- BHIM / Other UPI Apps -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>

    </queries>

</manifest>